/*

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
	--tw-gradient-stops : #1bc245, #d81818;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}
dark{
	background-color: black;
	color: white;
}
body {
	 background: #df919a; 
	 height: screen; 
	
	color: black;
	width: screen;
}
*{
	margin: 0;
	padding: 0;
}

a:hover
{
	color: #1bc245;
}

*/


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
	--tw-gradient-stops: #1bc245, #d81818;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: black;
	width: screen;
}

* {
	margin: 0;
	padding: 0;
}

a:hover {
	color: #1bc245;
}

/* Dark Mode Styles */
.dark body {
	background-color: black;
	color: white;
}

.dark a:hover {
	color: #1bc245; /* Keep hover effect consistent */
}
