
.glassCard {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 30px;
  width: 300px;
  height: 200px;
  color: #f5eeee;
  text-align: center;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}

.glassCard h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.glassCard p {
  font-size: 16px;
}